* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.6; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(4, 9, 30, 0.394), rgba(4,9,30,0.394)), url('C:/Users/cheru/OneDrive/Documents/GitHub/t/.github/workflows/donationpictures.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Lato';
    src: url('Fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.header {
    width: 100%;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-links li {
    margin: 0 1em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s; 
}

.nav-links a:hover {
    color: #241571;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* Adjust based on your nav height */
    width: 100%;
    padding-bottom: 80px;
}

.form {
    background: #0c0f14;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
        0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
        0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    position: relative;
    border-radius: 25px;
}

.form .label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: -moz-fit-content;
    height: fit-content;
}

.form .label:has(input:focus) .title {
    top: 0;
    left: 0;
    color: #d17842;
}

.form .label .title {
    padding: 0 10px;
    transition: all 300ms;
    font-size: 12px;
    color: #8b8e98;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
    top: 14px;
    position: relative;
    left: 15px;
    background: #0c0f14;
}

.form .input-field {
    width: auto;
    height: 50px;
    text-indent: 15px;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid #21262e;
    transition: all 0.3s;
    caret-color: #5842d1;
    color: #aeaeae;
}

.form .input-field:hover {
    border-color: rgba(73, 66, 209, 0.5);
}

.form .input-field:focus {
    border-color: #5842d1;
}

.form .split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.form .split label {
    width: 130px;
}

.form .checkout-btn {
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 25px;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    fill: #fff;
    color: #fff;
    border: 2px solid transparent;
    background: #5842d1;
    transition: all 200ms;
}

.form .checkout-btn:active {
    scale: 0.95;
}

.form .checkout-btn:hover {
    color: #5842d1;
    border: 2px solid #5842d1;
    background: transparent;
}

.footer {
    background: #241571;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
