*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

header{
z-index: 999;
position: relative;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
padding:  10px 10px;
transition: 0.5s ease;
font-weight: 500;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .main{
width: 200px;
height:70px
}

header .navigation{ 
    position: relative;
    padding: 20px 1em;
}

header .navigation .navigation-items a{

    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #000;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    

}

header .navigation .navigation-items a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: 0.5s ease;
}
      
header .navigation .navigation-items a:hover {
    color: #F0F8FF;
    transition-delay: 0.5s;
}
      
header .navigation .navigation-items a:hover::before {
        width: 100%;
      }
      
header .navigation .navigation-items a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: #241571;
        transition: 0.4s ease;
        z-index: -1;
      }
      
header .navigation .navigation-items a:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: #fff;
      }
section{
    padding: 100px 20px;
}
.home{
    position :relative;
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background: #24157169;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
}
.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    display: none;
    
    
}
.home .content.active{
    display:block;
}
.home .content h1{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 75px;
    margin-top: -80px;
    margin-left: 20px;
}
.home .content p{
margin-top: 50px;
margin-right: 20px;
line-height: 30px;
}
.home .content a{

    --color: #f6f5faf2;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    text-align: center;
    background-color: #393fb062;
       }
       
.home .content a:before {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: #241571;
        height: 150px;
        width: 200px;
        border-radius: 50%;
       }
       
.home .content a:hover {
        color: #fff;
       }
       
.home .content a:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
       }
       
.home .content a:hover:before {
        top: -30px;
        left: -30px;
       }
       
.home .content a:active:before {
        background: #3a0ca3;
        transition: background 0s;
       }
    
.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px); 
    margin-top: -100px;
    
}
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
    background: #241571;
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}
.video-slide{
    position: absolute;
    width:100%;
    clip-path: circle(0% at 0 50%);
}
.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
@media (max-width: 1040px){
 header{    
    padding: 10px 20px;
 }

 section {
    padding: 100px 20px;
 }
 header.navigation{
    display: none;
 }
}
.values{
    width: 80%;
    margin: auto;
    text-align: center;
   margin-top: -70px;
}
.values h1{
    font-size: 36px;
    font-weight: 600;
    color: #241571;
}
.values p{
    color: #39364b;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.valuecolumn{
    flex-basis: 31%;
    background: #b7739d84;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing:border-box;
}
.valuecolumn h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.valuecolumn:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.projects{
    margin-top: -200px;
}

.content-col {
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    margin-left: 50px;
}
.image-col{
    width:60%;
    margin-left: 200px;
}
.projects .image-gallery{
    display:flex;
    flex-wrap: wrap; 
    width: 100%;
    align-items: center;
}

.image-gallery img{
    max-width:250px; 
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: #241571 ;
}
.content-col p{
    padding:0;
    margin:30px auto;
}
.footer{
    width: 100%;
    min-height: 150px;
    padding: 20px 80px;
    margin: 0;
    background: #241571;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;

}
img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
